
<% unless !current_user %>
<header class="bck light padding-top">
  <div class="row">
      <div class="column_4 text left">
        <div id="slide">
          <a id="hamburger" href="#" data-tuktuk-modal="a" class="secondary"><h2>home</h2></a>
        </div>
      </div>
      <div class="column_4 text center hide-phone">
        <h2>Thirsty!</h2>
      </div>
      <div class="column_4 text right hide-phone">
          <% if current_user %>
            <p><strong><%= current_user.name %></strong>
            <%= link_to "Sign Out", signout_path, id: "sign_out" %></p>
          <% end %>
      </div>
  </div>
</header>


    <section class="padding">
      <div class="row">
        <div class="column_4">
            <div id="search">
              <h2>Welcome!</h2>
              <%= form_tag('/sessions', :remote => true) do %>
                <%= text_field_tag "username", nil, :placeholder => "username", :size => 30 %>
                <%= submit_tag "return", :id => "button" %>
              <% end %>
            </div>
        </div>
        <div class="column_4">
          <div id="errors"></div>
        </div>
      </div>
    </section>


<article class="padding scroll">
    <div class="row">
      <div id="pics"></div>
    </div>
</article>



<article class="padding scroll">
  <div class="row">
    <div class="column_12 text center">
      <div id="user"></div>
    </div>
  </div>
  <div class="row">
    <div id="images"></div>
  </div>
</article>


<article class="padding scroll">
  <div id="row">
    <div class="column_12 text center">
      <div id="final"></div>
    <div>
  </div>
</article>

<div class="row text center">
  <div id="false"></div>
</div>
<% end %>

