<!DOCTYPE html>
<html>
<head>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <title>Joon</title>
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <header class="padding-top">
    <div class="row">
      <div class="column_6">
          <h2>welcome!</h2>
      </div>
      <nav class="column_6 text right">
          <% if current_user %>
            Welcome <strong><%= current_user.name %></strong>
            <%= link_to "Sign Out", signout_path, id: "sign_out" %>
          <% else %>
            <h2><%= link_to "Sign in with Instagram!", "/auth/instagram", id: "gram" %></h>
          <% end %>
      </nav>
    </div>
  </header>

<%= yield %>

</body>
</html>
